<%layout("/layouts/boilerplate")-%>

<!--WRITING CSS CODE HERE FOR ALL FILTER'S ICON-->
<STYLE>

.filters{
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 650px){
  .filters{
    width: 95vw;
    margin-right: 5%;
  }
}
@media(max-width: 800px){
  .tax-switch-div{
    display: none!important;
  }
}

.filter{
  flex: 2;
  justify-items: center;
  text-align: center;
}

.filter:hover{
  opacity: 1;
  cursor: pointer;
}
.tax-switch-div{
  font-size: 1rem;
  border: 1px solid rgb(46, 46, 46);
  border-radius: 1rem;
  height: 3.5rem;
  padding: 1rem;
}
.tax-info{
  display: none;
}
</STYLE>
<body>
        
        <div class="filters">
          <div class="filter">
            <div><a href="/filters?filter=Pools"><i class="fa-solid fa-person-swimming"></i><p>Pools</p</a>
            </div>
          </div>
          
          <div class="filter">
            <div><a href="/filters?filter=Boats"><i class="fa-solid fa-ship"></i><p>Boats</p></a></div> 
          </div>
          
        
        <div class="filter">
          <div><a href="/filters?filter=Beach"><i class="fa-solid fa-umbrella-beach"></i>
            <p>Beach</p>
          </a></div>
          </div>

        <div class="filter">
          <div><a href="/filters?filter=Mountains"><i class="fa-solid fa-mountain-sun"></i></i><p>Mountains</p></a></div>
          </div>

           <div class="tax-switch-div">
          <div class="form-check-reverse form-switch tax-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">Display price after taxes</label>
          </div>
        </div>

  </div>    
    
    

    <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1 card-container" >
    <%for(let listing of allListing){%>
            <div class="card card-listing" >
            <a href="/listing/<%= listing._id %>" class="card-anchor">
             <img class="card-img-top" src="<%= listing.image.url %>" alt="Listing-image">
            <div class="card-body">
              <p class="card-text"><b><%= listing.title %></b><br>
                 &#8377;<%=listing.price.toLocaleString("en-IN")%>/night <i class="tax-info">&nbsp;+18%GST</i></p>
          </a>
            </div>
            </div>
          
    <%}%>
    </div>
  </body>


    <script>
      let taxSwitch = document.getElementById("flexSwitchCheckDefault");
      taxSwitch.addEventListener("click", ()=>{
        let taxInfo = document.getElementsByClassName("tax-info");
        for(info of taxInfo){
          if(info.style.display != "inline"){
          info.style.display = "inline";
          }else{
          info.style.display = "none";
          }
        }
      });
    </script>