body{
    font-family: "Plus Jakarta Sans", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/* navbar styling */
.container{
    flex: 1 !important;
}

.navbar{
    background-color: rgb(232, 232, 232) !important;
} 
.fa-compass{
    color: #fe424d;
    font-size: 2.2rem;
}
.nav-link{
    color: #222222 !important ;
    font-size: 1.09rem;
    font-weight: 450;
}
.filters a{
    text-decoration: none !important;
    color: inherit;
}

.search-box{
    border-color: #222222;
}

@media (max-width: 992px) {
     .search-div{
        border: #222222;
     }
}


.search-button{
    color: #222222;
    border-color: #222222;
}

/* flash styling */
.flash-div{
    width: 40vw!important;
}

/* footer styling*/
.f-info{
    display: flex;
    flex-direction: column;
    background-color: #ebebeb;
    height: 8rem;
    margin-top: 2%;
    align-items: center;
    justify-content: space-evenly;
}
.f-info-socials i{
   font-size: 1.6rem;
   margin-right: 1.1rem;
}
#footer-icon{
    text-decoration: none;
    color: inherit;
}

.f-info-socials i:hover{
    cursor: pointer;
    
}

.f-info-links a {
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover {
   text-decoration: underline;
}

/* card styling */
.card-listing{
    border: none !important;
    margin-bottom: 1rem;
    margin-top: 0.7rem;
    width: 20rem;
}
.review-card{
    box-shadow: 1px 1px 4px 4px #aba9a9;
    box-sizing: content-box!important;
}
.review-div{
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.static-rating{
    transform: scale(0.8)!important; 
    
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
    height: 18rem;
}
.card-body{
    padding: 0%;
}
.indexH3{
    margin-top: 1rem !important;
    margin-left: 2rem !important;
}
.card-text{
    font-weight: 400;
}
.card-container{
    display: flex !important;
    justify-content: center !important;
    width: 100%;
}   
.card-anchor{
    text-decoration: none;
    color: #222222;
}

/* card overlay styling */
.card-img-top:hover{
    background-color: white;
    opacity: 0.8;
}

.form-body{
    font-weight: 500;
    display: flex;
    justify-content: center;
}


.form-btn{
    background-color: #fe424d !important;
    border: none !important;

}
.show-ejs{
    display: flex !important;
    justify-content: center !important;
    font-weight: 400;
}
.show-ejs-card{
    width: 45rem;
}
.show-ejs-btns{
    display: flex;
    justify-content: flex-start;
}
.show-ejs-btn-1{
    border: none;
    background-color: #fe424d !important;
    width: 5rem;
}
.show-ejs-btn-2{
    margin-left: 2.5rem;
    background-color: #222222 !important;
    color: #ebebeb !important;
}

#originalImage{
    height: 11em;
    width: 18em;
    border-radius: 10%;
 }
